<!DOCTYPE html>
<html>
<head>
  <link href="/workshopfiles/creaturecommonfiles/creatureprogrammer.css" rel="stylesheet">
  <link href="/workshopfiles/{{workshop}}/thumbnails.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:700,700italic,400italic,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  {{> favicon}}
  <script src="{{socketioClient}}"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/chance/chance.js"></script>

</head>
<body>
<header class="cf">
<h1>Code Créatures - <span id="codeid"></span></h1>
</header>
<div class="programmer-part">
<h2>CODE</h2>
  <div class="controls">
    <input type="hidden" id="playgroundid" value="{{workshop}}">
    <input type="hidden" id="clientType" value="creature">
    <textarea id="code" rows="10" cols="80" wrap="on" placeholder="Écris ton code ici..." spellcheck="false"></textarea>
    
    <button id="go-live">Envoyer la créature</button>
    <a href="/playground/{{workshop}}" target="_blank" id="openinnewwindow" class="hasplaygroundlink{{hasplaygroundlink}}">Ouvrir le paysage de la créature &nbsp; &#x279a;</a>
    
  </div>
  <!--<ul id="objects"></ul>-->
  
    </div>

    <div class="examples">
    <h2>EXEMPLES</h2>
        
    <div class="example tortue" data-src="/workshopfiles/{{workshop}}/examples/tortue.txt">
    <div class="list-item">
      <p>TORTUE</p>
    </div>
    </div>
        
        
    <div class="example libellule" data-src="/workshopfiles/{{workshop}}/examples/libellule.txt">
    <div class="list-item">
      <p>LIBELLULE</p>
        </div>
    </div>
        
        
    <div class="example herisson" data-src="/workshopfiles/{{workshop}}/examples/herisson.txt">
    <div class="list-item">
      <p>HÉRISSON</p>
    </div>
    </div>
        
    <div class="example anguille" data-src="/workshopfiles/{{workshop}}/examples/anguille.txt">
    <div class="list-item">
      <p>ANGUILLE</p>
    </div>
    </div>
    
    </div>

<div class="cf"></div>
<script src="/workshopfiles/creaturecommonfiles/creaturecodeinitialization.js"></script>
<script src="/workshopfiles/creaturecommonfiles/creaturesourcebuilder.js"></script>
<script src="/programmerjs/receptiontransmission.js"></script>
</body>
</html>
