<!DOCTYPE html>
<html>
<head>
  <title>{{playgroundid}} Paysage Programmer</title>
  <link href="/stylesheets/programmer.css" rel="stylesheet">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
  {{> favicon}}
  <script src="{{socketioClient}}"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/bower_components/chance/chance.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div class="programmer-part">
  <div class="programmertop programmer-row">
    <div class="controls" style="display: inline">
      <button id="start-new-code">start a new creature…</button>
    </div>
    <input type="hidden" id="playgroundid" value="{{playgroundid}}">
    <input type="hidden" id="clientType" value="programmer">
    <input type="text" id="codeName" placeholder="enter a name…"></input>
    <input type="hidden" id="codeid"></input>
  </div>
  <div class="codewrapper programmer-row">
    <div id="code" rows="20" cols="30"></div>
  </div>
  <div class="programmer-row">
    <div class="programmercontrols">
      <div class="controls">
        <button id="go-live">go live!</button>
        <a target="_blank" href="{{reference_url}}" id="openreference">reference ➚</a>
      </div>
      <div id="objects"></div>
    </div>
  </div>
</div>


<div class="viewer-part">
    <div class="controls">

      <div class="previewstate-controls">
        <div class="previewstate">
          <div class="previewstate-radio">
            <input type="radio" name="previewstate" value="previewoff" id="previewoff"/>
            <label for="previewoff" class="isoff icon glyphicon glyphicon-remove-circle"></label>
            <input type="radio" name="previewstate" value="previewsolo" id="solo" />
            <label for="solo" class="solo icon glyphicon glyphicon-headphones"></label>
            <input type="radio" name="previewstate" value="previewon" id="previewon" checked="checked" />
            <label for="previewon" class="ison icon glyphicon glyphicon-ok-circle"></label>
          </div>
          <span class="preview-label" id="previewison">preview is on</span>
          <span class="preview-label" id="previewissolo" style="display:none">solo</span>
          <span class="preview-label" id="previewisoff" style="display:none">preview is off</span>
        </div>
        <a href="/playground/{{playgroundid}}" target="_blank" id="openinnewwindow">open {{playgroundid}} in new window &#x279a;</a>
      </div>
    </div>

    <div id="viewercontainer">
        <iframe class="viewer" id="viewerframe" src="/playground/{{playgroundid}}"></iframe>
    </div>
</div>

<div id="new-object-dialog" class="examples">
  <h3>Start a new creature ! Choose an example :</h3>
  <div class="example empty" data-src="/examples/empty.pde"></div>
  <div class="example number-32" data-src="/examples/number32.pde"></div>
  <div class="example eye" data-src="/examples/eye.pde"></div>
  <div class="example serpent" data-src="/examples/serpent.pde"></div>
  <div class="example creature" data-src="/examples/creature.pde"></div>
  <div class="example horizon" data-src="/examples/horizon.pde"></div>
</div>

<script src="/programmerjs/sourcebuilder.js"></script>
<script src="/programmerjs/receptiontransmission.js"></script>
<script src="/programmerjs/editingcode.js"></script>
<script src="/programmerjs/previewmanagement.js"></script>
<script>
$(Paysage.programmerInit);
</script>
</body>
</html>
