<!DOCTYPE html>
<html>
<head>
  <title>{{playgroundid}} Paysage Programmer</title>
  <link href="/stylesheets/programmer.css" rel="stylesheet">
  {{> favicon}}
  <script src="{{socketioClient}}"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/chance/chance.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div class="programmer-part">
  <div class="programmertop">
    <input type="hidden" id="playgroundid" value="{{playgroundid}}">
    <input type="text" id="codeid"></input>
  </div>
  <div class="codewrapper">
    <div id="code" rows="20" cols="30"></div>
  </div>
  <div class="programmercontrols">
    <div>
      <button id="bouton">go live!</button>
      <a target="_blank" href="{{reference_url}}" id="openreference">reference ➚</a>
    </div>
    <ul id="objects"></ul>
  </div>
  <div class="examples">
    <div class="example empty" data-src="/examples/empty.pde"></div>
    <div class="example number-32" data-src="/examples/number32.pde"></div>
    <div class="example eye" data-src="/examples/eye.pde"></div>
    <div class="example serpent" data-src="/examples/serpent.pde"></div>
    <div class="example creature" data-src="/examples/creature.pde"></div>
    <div class="example horizon" data-src="/examples/horizon.pde"></div>
  </div>
</div>

<div class="viewer-part">
    <div class="viewercontrols">
        <a href="#" id="previewonoff">preview on/off</a>
        <a href="/playground/{{playgroundid}}" target="_blank" id="openinnewwindow">open {{playgroundid}} in new window &#x279a;</a>
    </div>

    <div id="viewercontainer">
        <iframe class="viewer" id="viewerframe" src="/playground/{{playgroundid}}"></iframe>
    </div>
</div>
<script src="/programmerjs/sourcebuilder.js"></script>
<script src="/programmerjs/receptiontransmission.js"></script>
<script src="/programmerjs/codeinitialization.js"></script>
<script src="/programmerjs/previewmanagement.js"></script>
<script>
$(Paysage.programmerInit);
</script>
</body>
</html>
